/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700|Roboto+Slab:400,700&display=swap");
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
      ========================================================================== */
/**
    * Remove the margin in all browsers.
    */
body {
  margin: 0;
}

/**
    * Render the `main` element consistently in IE.
    */
main {
  display: block;
}

/**
    * Correct the font size and margin on `h1` elements within `section` and
    * `article` contexts in Chrome, Firefox, and Safari.
    */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
      ========================================================================== */
/**
    * 1. Add the correct box sizing in Firefox.
    * 2. Show the overflow in Edge and IE.
    */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
    * 1. Correct the inheritance and scaling of font size in all browsers.
    * 2. Correct the odd `em` font sizing in all browsers.
    */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
      ========================================================================== */
/**
    * Remove the gray background on active links in IE 10.
    */
a {
  background-color: transparent;
}

/**
    * 1. Remove the bottom border in Chrome 57-
    * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
    */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
    * Add the correct font weight in Chrome, Edge, and Safari.
    */
b,
strong {
  font-weight: bolder;
}

/**
    * 1. Correct the inheritance and scaling of font size in all browsers.
    * 2. Correct the odd `em` font sizing in all browsers.
    */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
    * Add the correct font size in all browsers.
    */
small {
  font-size: 80%;
}

/**
    * Prevent `sub` and `sup` elements from affecting the line height in
    * all browsers.
    */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
      ========================================================================== */
/**
    * Remove the border on images inside links in IE 10.
    */
img {
  border-style: none;
}

/* Forms
      ========================================================================== */
/**
    * 1. Change the font styles in all browsers.
    * 2. Remove the margin in Firefox and Safari.
    */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
    * Show the overflow in IE.
    * 1. Show the overflow in Edge.
    */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
    * Remove the inheritance of text transform in Edge, Firefox, and IE.
    * 1. Remove the inheritance of text transform in Firefox.
    */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
    * Correct the inability to style clickable types in iOS and Safari.
    */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
    * Remove the inner border and padding in Firefox.
    */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
    * Restore the focus styles unset by the previous rule.
    */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
    * Correct the padding in Firefox.
    */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
    * 1. Correct the text wrapping in Edge and IE.
    * 2. Correct the color inheritance from `fieldset` elements in IE.
    * 3. Remove the padding so developers are not caught out when they zero out
    *    `fieldset` elements in all browsers.
    */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
    * Add the correct vertical alignment in Chrome, Firefox, and Opera.
    */
progress {
  vertical-align: baseline;
}

/**
    * Remove the default vertical scrollbar in IE 10+.
    */
textarea {
  overflow: auto;
}

/**
    * 1. Add the correct box sizing in IE 10.
    * 2. Remove the padding in IE 10.
    */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
    * Correct the cursor style of increment and decrement buttons in Chrome.
    */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
    * 1. Correct the odd appearance in Chrome and Safari.
    * 2. Correct the outline style in Safari.
    */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
    * Remove the inner padding in Chrome and Safari on macOS.
    */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
    * 1. Correct the inability to style clickable types in iOS and Safari.
    * 2. Change font properties to `inherit` in Safari.
    */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
      ========================================================================== */
/*
    * Add the correct display in Edge, IE 10+, and Firefox.
    */
details {
  display: block;
}

/*
    * Add the correct display in all browsers.
    */
summary {
  display: list-item;
}

/* Misc
      ========================================================================== */
/**
    * Add the correct display in IE 10+.
    */
template {
  display: none;
}

/**
    * Add the correct display in IE 10.
    */
[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --white: #FFFFFF;
  --black: #000000;
  --orange: #ffcc65;
  --blue: #9EDAD3;
  --gray: #777777;
  --orange-rgb: 255, 204, 101;
  --body-font: 'Roboto Condensed', sans-serif;
  --titles-font: 'Roboto Slab', serif;
  --font-size-m: 2em;
  --font-size-xs: calc(var(--font-size-m) / 4);
  --font-size-s: calc(var(--font-size-m) / 2);
  --font-size-l: calc(var(--font-size-m) * 2);
  --font-size-xl: calc(var(--font-size-m) * 4);
  --space-m: 16px;
  --space-xxs: calc(var(--space-m) / 8);
  --space-xs: calc(var(--space-m) / 4);
  --space-s: calc(var(--space-m) / 2);
  --space-l: calc(var(--space-m) * 2);
  --space-xl: calc(var(--space-m) * 4);
  --space-xxl: calc(var(--space-m) * 8);
}

html,
body {
  min-height: 100vh;
}

body {
  font-family: var(--body-font);
  font-size: 16px;
}

img {
  max-width: 100%;
}

a {
  color: var(--orange);
  text-decoration: none;
}

::-moz-selection {
  background-color: rgba(var(--orange-rgb), 0.7);
}

::selection {
  background-color: rgba(var(--orange-rgb), 0.7);
}

.button {
  display: inline-block;
  padding: var(--space-s) var(--space-m);
  border-radius: 5px;
  border: 2px solid var(--white);
  background-color: var(--black);
  color: var(--white);
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.button:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.header {
  position: fixed;
  top: 0;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: var(--space-m) var(--space-l);
  background-color: var(--white);
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.shop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: var(--space-s);
}

.shop__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70px;
  margin: 0 var(--space-s);
}

.shop__button:hover .shop__icon {
  color: var(--black);
}

.shop__button:hover .shop__text {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

.shop__icon {
  margin-bottom: var(--space-xs);
  color: var(--orange);
  font-size: 30px;
  -webkit-transition: 0.5s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: 0.5s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.shop__text {
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  color: var(--black);
  font-size: 14px;
  -webkit-transition: 0.5s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: 0.5s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.menu {
  display: none;
  position: absolute;
  top: 17px;
  right: 15px;
  cursor: pointer;
}

.menu .menu__dash {
  height: 4px;
  width: 35px;
  background-color: var(--black);
  margin-bottom: var(--space-s);
  border-radius: 4px;
}

/* Media queries, header to tablet and mobile */
@media screen and (max-width: 768px) {
  .shop__icon {
    font-size: 25px;
  }
}

@media screen and (min-width: 560px) {
  .header__shop {
    display: block !important;
  }
}

@media screen and (max-width: 560px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header .header__shop {
    display: none;
  }
  .header .header__shop .shop {
    padding-top: var(--space-m);
  }
  .header .header__shop .shop__button:hover .shop__text {
    color: var(--black);
  }
  .header .header__shop .shop__button .shop__text {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    color: var(--orange);
  }
  .menu {
    display: block;
  }
}

.footer {
  text-align: center;
  padding: var(--space-xl);
}

.wrapper {
  margin-top: 93px;
}

@media screen and (max-width: 768px) {
  .wrapper {
    margin-top: 87px;
  }
}

@media screen and (max-width: 560px) {
  .wrapper {
    margin-top: 65px;
  }
}

.slider {
  --font-size-title: var(--font-size-m);
  --font-size-button: var(--font-size-s);
}

.slider .slider__slides {
  --min-height-slider: 75vh;
  min-height: var(--min-height-slider);
}

.slider .slider__slides .slide {
  overflow: hidden;
  min-height: var(--min-height-slider);
  width: 100%;
  position: absolute;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% auto 20%;
      grid-template-columns: 20% auto 20%;
  padding: var(--space-l) var(--space-m);
}

.slider .slider__slides .slide .slide__image {
  position: absolute;
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: var(--min-height-slider);
  z-index: -1;
  -webkit-animation: imageMovement 35s linear infinite 0s;
          animation: imageMovement 35s linear infinite 0s;
}

.slider .slider__slides .slide .slide__content {
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-column-align: left;
      justify-self: left;
  -ms-grid-row-align: center;
      align-self: center;
  display: -ms-grid;
  display: grid;
  justify-items: start;
}

.slider .slider__slides .slide .slide__content .slide__title {
  padding: var(--space-s) var(--space-m);
  font-size: var(--font-size-title);
  color: var(--white);
  background-color: var(--orange);
}

.slider .slider__slides .slide .slide__content .slide__title::-moz-selection {
  background-color: var(--gray);
}

.slider .slider__slides .slide .slide__content .slide__title::selection {
  background-color: var(--gray);
}

.slider .slider__slides .slide .slide__content .slide__button {
  margin-top: var(--space-s);
  font-size: var(--font-size-button);
}

.slider .slider__slides .arrow {
  color: var(--white);
  font-size: var(--font-size-m);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  cursor: pointer;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  position: absolute;
  top: 45vh;
  z-index: 10;
  --space-arrows: 30px;
  --translateX-animation: 27px;
}

.slider .slider__slides .arrow:hover {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.slider .slider__slides .arrow.arrow-left {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: start;
      justify-self: start;
  left: var(--space-arrows);
}

.slider .slider__slides .arrow.arrow-left:hover {
  left: var(--translateX-animation);
}

.slider .slider__slides .arrow.arrow-right {
  -ms-grid-column-align: end;
      justify-self: end;
  right: var(--space-arrows);
}

.slider .slider__slides .arrow.arrow-right:hover {
  right: var(--translateX-animation);
}

@-webkit-keyframes imageMovement {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  30% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes imageMovement {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  30% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media screen and (max-width: 670px) {
  .slider {
    --font-size-title: calc(var(--font-size-m) / 1.5);
  }
  .slider .slider__slides .slide {
    -ms-grid-columns: 10% auto 10%;
        grid-template-columns: 10% auto 10%;
  }
  .slider .slider__slides .slide .slide__content {
    -ms-flex-item-align: end;
        align-self: flex-end;
    -ms-grid-column-align: center;
        justify-self: center;
    justify-items: center;
  }
}

@media screen and (max-width: 500px) {
  .slider {
    --font-size-title: calc(var(--font-size-m) / 1.7);
  }
}

.products {
  --spacing-x-products: 25vw;
  padding: var(--space-m) var(--spacing-x-products);
}

.products .products__title {
  text-align: center;
}

.products .product_collection {
  display: -ms-grid;
  display: grid;
  padding: var(--space-l) 0;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: var(--space-l);
}

.products .product_collection .cta_image:nth-child(1) {
  border: 2px solid green;
  -ms-grid-row: 2;
  grid-row: 2;
  grid-column: 2 span 2;
}

.products .product_collection .cta_image {
  -webkit-box-shadow: 0px 0px 11px 0px var(--gray);
  box-shadow: 0px 0px 11px 0px var(--gray);
  background-size: cover;
  background-position: bottom;
  min-height: 100%;
}

.products .product_collection .cta_image:nth-child(2n+1) {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
}

.products .product_collection .cta_image:last-child {
  -ms-grid-row: 4;
  grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.products .product_collection .product .product__image {
  min-height: 170px;
  background-size: cover;
  background-position: center;
}

.products .product_collection .product .product__content {
  padding-top: var(--space-m);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  grid-row-gap: var(--space-l);
  grid-column-gap: var(--space-m);
}

.products .product_collection .product .product__content .product__name {
  font-size: var(--font-size-s);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.products .product_collection .product .product__content .product__price {
  font-weight: bold;
  background-color: var(--orange);
  text-align: center;
  padding: var(--space-s) 0;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
}

.products .product_collection .product .product__content .product__button {
  -ms-grid-column-span: 2;
      grid-column-end: span 2;
  -ms-grid-column-align: center;
      justify-self: center;
}

@media screen and (max-width: 1500px) {
  .products {
    --spacing-x-products: 20vw
    ;
  }
}

@media screen and (max-width: 1270px) {
  .products {
    --spacing-x-products: 15vw;
  }
}

@media screen and (max-width: 930px) {
  .products {
    --spacing-x-products: 10vw;
  }
}

@media screen and (max-width: 768px) {
  .products {
    --spacing-x-products: 5vw;
  }
}

@media screen and (max-width: 730px) {
  .products {
    --spacing-x-products: 10vw;
  }
  .products .product_collection {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .products .product_collection .cta_image:nth-child(2n+1) {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
  }
  .products .product_collection .cta_image:last-child {
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5 / 6;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
}

@media screen and (max-width: 540px) {
  .products {
    --spacing-x-products: 5vw;
  }
}

@media screen and (max-width: 420px) {
  .products {
    --spacing-x-products: 15vw;
  }
  .products .product_collection {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .products .product_collection .cta_image {
    min-height: 344px;
  }
  .products .product_collection .cta_image:nth-child(2n+1) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
}

.load {
  text-align: center;
}

.load .loading_icon {
  display: none;
  width: 40px;
  height: 40px;
  border-top: 4px solid var(--orange);
  border-radius: 50%;
  -webkit-animation: loading 1s linear infinite;
          animation: loading 1s linear infinite;
  margin: 0 auto;
}

@-webkit-keyframes loading {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loading {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=style.css.map */