@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700|Roboto+Slab:400,700&display=swap');
:root {
    // COLORS
    --white: #FFFFFF;
    --black: #000000;
    --orange: #ffcc65;
    --blue: #9EDAD3;
    --gray: #777777;

    --orange-rgb: 255, 204, 101;

    // FONTS
    --body-font: 'Roboto Condensed', sans-serif;
    --titles-font: 'Roboto Slab', serif;
    --font-size-m: 2em;
    --font-size-xs: calc(var(--font-size-m) / 4);
    --font-size-s: calc(var(--font-size-m) / 2);
    --font-size-l: calc(var(--font-size-m) * 2);
    --font-size-xl: calc(var(--font-size-m) * 4);

    // SPACES
    --space-m: 16px;
    --space-xxs: calc(var(--space-m) / 8);
    --space-xs: calc(var(--space-m) / 4);
    --space-s: calc(var(--space-m) / 2);
    --space-l: calc(var(--space-m) * 2);
    --space-xl: calc(var(--space-m) * 4);
    --space-xxl: calc(var(--space-m) * 8);
}
