.button {
    display: inline-block;
    padding: var(--space-s) var(--space-m);
    border-radius: 5px;
    border: 2px solid var(--white);
    background-color: var(--black);
    color: var(--white);
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.2s linear;

}

.button:hover {
    transform: scale(1.03);
    transition: all 0.2s linear;
}
