.header {
    position: fixed;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: var(--space-m) var(--space-l);
    background-color: var(--white);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.shop {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: var(--space-s);
    &__button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70px;
        margin: 0 var(--space-s);
        &:hover {
            .shop__icon {
                color: var(--black);
            }
            .shop__text {
                opacity: 1;
                transform: none;
            }
        }
    }
    &__icon {
        margin-bottom: var(--space-xs);
        color: var(--orange);
        font-size: 30px;
        transition: 0.5s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }
    &__text {
        opacity: 0;
        transform: translateY(20px);
        color: var(--black);
        font-size: 14px;
        transition: 0.5s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }
}

.menu { //Create the mobile menu button
    display: none;
    position: absolute;
    top: 17px;
    right: 15px;
    cursor: pointer;
    .menu__dash {
        height: 4px;
        width: 35px;
        background-color: var(--black);
        margin-bottom: var(--space-s);
        border-radius: 4px;
    }
}

/* Media queries, header to tablet and mobile */

@media screen and (max-width: 768px) { //Reduce a bit the size of icons on tablets
    .shop__icon {
        font-size: 25px;
    }
}
@media screen and (min-width: 560px) { //Rewrite inline style written by jQuery in slideToggle()
    .header__shop{
        display: block!important;  
    }
}
@media screen and (max-width: 560px) { //Change to mobile menu
    .header {
        flex-direction: column;
        .header__shop {
            display: none;  
            .shop{
                padding-top: var(--space-m);
                &__button {
                    &:hover {
                        .shop__text {
                            color: var(--black);
                        }
                    }
                    .shop__text { //On mobile always show shop text
                        opacity: 1;
                        transform: none;
                        color: var(--orange);
                    }
                }
            }
        }
    }
    .menu {
        display: block;
    }
    
}