// TODO: Desarrollar el CSS para los productos
.products {
    --spacing-x-products: 25vw;
    padding: var(--space-m) var(--spacing-x-products);
    .products__title {
        text-align: center;
    }
    .product_collection {
        display: grid;
        padding: var(--space-l) 0;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: var(--space-l);
        .cta_image:nth-child(1) {
            border: 2px solid green;
            grid-row: 2;
            grid-column: 2 span 2;
        }
        .cta_image {
            -webkit-box-shadow: 0px 0px 11px 0px var(--gray);
            -moz-box-shadow: 0px 0px 11px 0px var(--gray);
            box-shadow: 0px 0px 11px 0px var(--gray);
            
            background-size: cover;
            background-position: bottom;
            min-height: 100%;
            &:nth-child(2n+1) {
                grid-row: 2;
                grid-column: 2 / 4;
            }
            &:last-child {
                grid-row: 4 ;
                grid-column: 1 / 3;
            }
            
        }
        .product {
            .product__image{
                min-height: 170px;
                background-size: cover;
                background-position: center;
            }
            .product__content {
                padding-top: var(--space-m);
                display: grid;
                grid-template-columns: 2fr 1fr;
                grid-row-gap: var(--space-l);
                grid-column-gap: var(--space-m);
                .product__name {
                    font-size: var(--font-size-s);
                    align-self: center;
                }
                .product__price{
                    font-weight: bold;
                    background-color: var(--orange);
                    text-align: center;
                    padding: var(--space-s) 0;
                    transform: rotate(-15deg);
                }
                .product__button{
                    grid-column-end: span 2;
                    justify-self: center;
                }
            }
        }
        
    }
}

@media screen and (max-width: 1500px) {
    .products {
        --spacing-x-products: 20vw
    }
}
@media screen and (max-width: 1270px) {
    .products {
        --spacing-x-products: 15vw;
    }
}
@media screen and (max-width: 930px) {
    .products {
        --spacing-x-products: 10vw;
    }
}
@media screen and (max-width: 768px) {
    .products {
        --spacing-x-products: 5vw;
    }
}

@media screen and (max-width: 730px) {
    .products {
        --spacing-x-products: 10vw;
        .product_collection {
            grid-template-columns: repeat(2, 1fr);
            .cta_image {
                &:nth-child(2n+1) {
                    grid-row: 2 / 3;
                    grid-column: 2 / 3;
                }
                &:last-child {
                    grid-row: 5 / 6;
                    grid-column: 1 / 2;
                }
                
            }
        }
    }
}
@media screen and (max-width: 540px) {
    .products {
        --spacing-x-products: 5vw;
    }
}
@media screen and (max-width: 420px) {
    .products {
        --spacing-x-products: 15vw;
        .product_collection {
            grid-template-columns: repeat(1, 1fr);
            .cta_image {
                min-height: 344px;
                &:nth-child(2n+1) {
                    grid-column: 1 / 2;
                }
                
            }
        }
    }
}

.load {
    text-align: center;
    .loading_icon {
        display: none;
        width: 40px;
        height: 40px;
        border-top: 4px solid var(--orange);
        border-radius: 50%;
        animation: loading 1s linear infinite;
        margin: 0 auto;
    }
}

@keyframes loading {
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}

