// TODO: Desarrollar el CSS para el slider
.slider {
    --font-size-title: var(--font-size-m);
    --font-size-button: var(--font-size-s);

    
    .slider__slides{
        --min-height-slider: 75vh;
        min-height: var(--min-height-slider);

        .slide {
            overflow: hidden;
            min-height: var(--min-height-slider);
            width: 100%;

            position: absolute;
            display: grid;
            grid-template-columns: 20% auto 20%;
            padding: var(--space-l) var(--space-m);

            .slide__image {
                position: absolute;
                background-size: cover;
                background-position: center;
                width: 100%;
                min-height: var(--min-height-slider);
                z-index: -1;
                animation: imageMovement 35s linear infinite 0s;
            }

            .slide__content {
                grid-column-start: 2;
                justify-self: left;
                align-self: center;
                display: grid;
                justify-items: start;
                .slide__title {
                    padding: var(--space-s) var(--space-m);
                    font-size: var(--font-size-title);
                    color: var(--white);
                    background-color: var(--orange);
                    &::selection {
                        background-color: var(--gray);
                    }
                }
                
                .slide__button {
                    margin-top: var(--space-s);
                    font-size: var(--font-size-button);
                }
            }
            
        }

        .arrow {
            color: var(--white);
            font-size: var(--font-size-m);
            align-self: center;
            cursor: pointer;
            transition: all 0.2s linear;
            position: absolute;
            top: 45vh;
            z-index: 10;
    
            &:hover {
                transition: all 0.2s linear;
            }
            --space-arrows: 30px;
            --translateX-animation: 27px;
            &.arrow-left {
                align-self: center;
                justify-self: start;
                left: var(--space-arrows);
                &:hover {
                    left: var(--translateX-animation);
                }
            }
            &.arrow-right {
                justify-self: end;
                right: var(--space-arrows);
                &:hover {
                    right: var(--translateX-animation);
                }
            }
        }
    }
}
@keyframes imageMovement {
    0% {
        transform:scale(1);
   }
    30% {
        transform:scale(1.1);
   }
    100% {
        transform:scale(1);
   }
}
//In this media query font size and grid space is reduced, also content is moved to center bottom
@media screen and (max-width: 670px) { 
    .slider {
        --font-size-title: calc(var(--font-size-m) / 1.5);
    }
    .slider {
        .slider__slides{    
            .slide {
                grid-template-columns: 10% auto 10%;
    
                .slide__content {
                    align-self: flex-end;
                    justify-self: center;
                    justify-items: center;
                }
            }
        }
    }
}
//In this media query font size is reduced
@media screen and (max-width: 500px) {
    .slider {
        --font-size-title: calc(var(--font-size-m) / 1.7);
    }
}