.wrapper {
    margin-top: 93px;
}

@media screen and (max-width: 768px) {
    .wrapper {
        margin-top: 87px;
    }
}

@media screen and (max-width: 560px) {
    .wrapper {
        margin-top: 65px;
    }
}